In [1]:
name = 'siva'
name

'siva'

In [2]:
name_1 = 'siva'

In [3]:
#cannot have special characters
age!= 'siva'

NameError: name 'age' is not defined

In [ ]:
#cant have number
2age ='siva'

In [ ]:
#Reserved words
for = 'siva'

In [5]:
a = input('enter a number')
print(a)

enter a number1
1

In [4]:
name = "tesla   "
print(name.upper())
print(name.lower())
print(name.strip())
print(name.lstrip())
print(name.rstrip())
print(len(name.upper()))
print(len(name.lower()))
print(len(name.strip()))

TESLA
tesla
tesla
tesla
tesla
8
8
5

In [6]:
users = ['sam','satya','sundar','ajay']
data = ['ai','ai+genai','android']
print(sorted(users))
users.append('jeeva')
print(users)
print(sorted(users))

['ajay', 'sam', 'satya', 'sundar']
['sam', 'satya', 'sundar', 'ajay', 'jeeva']
['ajay', 'jeeva', 'sam', 'satya', 'sundar']

In [7]:
#first to remaining
print(users[1:])

print(len(users))

['satya', 'sundar', 'ajay', 'jeeva']
5

In [8]:
users
print(set(users))
print((users))

{'satya', 'jeeva', 'ajay', 'sam', 'sundar'}
['sam', 'satya', 'sundar', 'ajay', 'jeeva']

In [9]:
#https://docs.python.org/3/tutorial/datastructures.html#looping-techniques

a = [1,2,3,4,5]
print(len(a))
for i in range(len(a)):
  print(a[i])

5
1
2
3
4
5

In [10]:
knights = {'Tshirt': 50, 'Kidswear': 30}
totalstock = 0
for k, v in knights.items():
    print(k, v)
    print(k)
    print(v)
    totalstock += v
print(totalstock)

Tshirt 50
Tshirt
50
Kidswear 30
Kidswear
30
80

In [11]:
#When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [12]:
data = [1,2,3,4,5,2,3,4]
print(set(data))
for i in range(len(data)):
  print(data[i])

{1, 2, 3, 4, 5}
1
2
3
4
5
2
3
4

In [13]:
#To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered.
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [14]:
band = {"Mens_section":1220,"Kids":145,"Jewelry":775}
for k,v in band.items():
  print(k,v)

Mens_section 1220
Kids 145
Jewelry 775

In [15]:
if band.get("Mens_section") < 1500:
  print("Mens_section is OOO")
  band["Mens_section"] += 500
else:
  print("Mens_section is in stock")
for k,v in band.items():
  print(k,v)

Mens_section is OOO
Mens_section 1720
Kids 145
Jewelry 775

In [16]:
import os

# Set an environment variable
os.environ['GREETING'] = 'Hello, world!'

# Retrieve the environment variable
greeting = os.environ.get('GREETING', 'Hello, default!')

print(greeting)

Hello, world!